.ac-navbar {
    width: 100%;
    height: 310px;
    /* background: chocolate; */
}

.ac-profile-background {
    width: 100%;
    height: 310px;
    background: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
}

.ac-content {
    width: 100%;
    height: 700px;
    background-color: rgb(17, 22, 31);
}


.ac-info img {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    margin: 10px;
    float: left;
}

.ac-info{
    float: left;
    width: 1180px;
    height: 250px;
    margin-top: 50px;
    border: 2px solid rgba(252, 104, 85, 0.8);
    margin-left: 80px;
    border-radius: 20px;
}

.ac-info h2 {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}
hr{
    width: 50px;
    border: 1px solid rgba(252, 104, 85, 0.8);
    margin-top: 40px;
    margin-left: 270px;
}
.ac-info p {
    margin-top: 40px;
    float: left;
    color: rgb(190, 188, 188);
    margin-left: 20px;
}

@media  screen and (max-width:1200px) {
    .ac-info {
        width: 800px;
    }

    .ac-info p{
        font-size: 1.6vw;
        flex-wrap: wrap;
        float: left;
    }

    .ac-content {
        height: 1800px;
    }
}