.ex-navbar {
    width: 100%;
    height: 310px;
    /* background: chocolate; */
}

.ex-profile-background {
    width: 100%;
    height: 310px;
    background: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
}

.ex-content {
    width: 100%;
    height: 350px;
    background-color: rgb(17, 22, 31);
    float: left;
}

.ex-content .information {
    width: 700px;
    height: 180px;
    border: 2px solid rgba(252, 104, 85, 0.8);
    float:left;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 20px;
}

.pro-skill{
    width: 500px;
    height: 30px;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    font-size: 23px;
}

.pro-skill hr{
    width: 40px;
    margin-top: 2px;
    border-color: rgb(252, 104, 85);
}

#ex-lis {
    margin-top: 10px;
    margin-left: 50px;
    line-height: 40px;
    font-family: sans-serif;
    color: rgb(204, 200, 200);
}

.project {
    width: 100%;
    height: 500px;
    float: left;
    background-color: rgb(24, 31, 44);
}

.project-info{
    width: 700px;
    height: 180px;
    border: 2px solid rgba(252, 104, 85, 0.8);
    float:left;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 20px;
}

.serial {
    margin-top: 10px;
    margin-left: 50px;
    line-height: 40px;
    font-family: sans-serif;
    color: white;
}

.serial a {
    color: rgb(211, 208, 208);
}
.serial a:hover {
    color: rgb(252, 104, 85);
    transition: 0.4s;
}

@media screen and (max-width: 1200px){
    .project{
        height: 1470px;
    }
}