*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    /* background-color: rgb(169, 206, 131); */
    height: auto;
}

.navbar {
    width: 100%;
    height: 410px;
    /* background: chocolate; */
}

.profile-background {
    width: 100%;
    height: 410px;
    background: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
}

.icon{
    width: 150px;
    /* background: cornsilk; */
    height: 60px;
    float: left;
}
.span{
    text-align: center;
    padding-top: 12px;
    padding-left: 70px;
    float: left;
    font-family:'Times New Roman';
    margin-bottom: 5px;
    color: rgb(252, 104, 85);
}

.span2{
    float: left;
    padding-top: 12px;
    font-family:'Times New Roman';
    color: white;
}

.profile-logo {
    width: 40px;
    height: 60px;
    float: left;
    margin-left: 48px;
}

.profile-logo img{
    width: 38px;
    height: 40px;
    padding-top: 8px;
}

.menu {
    width: 400px;
    height: 60px;
    float: left;
    margin-left: 480px;
}

.menu .menu-list {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .menu-list .menu-item {
    list-style: none;
    margin-left: 30px;
    margin-top: 18px;
    font-size: 14px;
    font-weight: bold;
}

.menu .menu-list .menu-item a{
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    font-family: sans-serif;
    transition: 0.4s ease;
    color: rgb(231, 229, 229);
}

.menu .menu-list .menu-item a:hover{
    color: rgb(252, 104, 85);
}

.search {
    width: 300px;
    float: right;

}

.srch {
    font-family: 'Times New Roman';
    width: 150px;
    height: 30px;
    background: transparent;
    border: 1px solid rgb(252, 104, 85);
    margin-top: 10px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100px;
    height: 30px;
    background: rgb(252, 104, 85);
    border: 2px solid rgb(252, 104, 85);
    margin-top: 10px;
    color: white;
    font-size: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content {
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}


.profile-img {
    width: 300px;
    height: 300px;
    margin-left: 40%;
    margin-top: 120px;
    float: left;
    position: absolute;
}

.profile-img img{
    width: 100px;
    height: 100px;
    margin-left: 95px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

#name{
    margin-top: 15px;
    color: rgb(252, 104, 85);
    font-size: 50px;
    margin-left: 8px;
}
#plan {
    color: white;
    margin-left: 95px;
    font-size: 16px;
    margin-top: 10px;
    color: rgb(204, 200, 200);
}

.content {
    width: 100%;
    height: 460px;
    background: rgb(17, 22, 31);
}
.about{
    height: 460px;
    width: 360px;
    float: left;
}
.about img{
    width: 280px;
    height: 300px;
    margin: 80px;
}

.about-me{
    height: 300px;
    width: 800px;
    float: left;
    margin-right: 80px;
    margin-top: 80px;
}

.about-me h2 {
    color: white;
    margin-left: 20px;
}

.about-me p{
    margin-left: 20px;
    color: rgb(204, 200, 200);
    margin-bottom: 20px;
}

.about-me hr{
    margin-left: 20px;
    width: 40px;
    margin-bottom: 30px;
    margin-top: 2px;
    border-color: rgb(252, 104, 85);
}

.information{
    height: 126px;
    width: 800px;
    margin-left: 20px;
    border: 2px solid rgba(252, 104, 85, 0.7);
    border-radius: 20px;
}

.information p{
    margin-top: 8px;
    letter-spacing: 1px;
    line-height: 35px;
}

#age {
    padding-left: 219px;
}

#email {
    padding-left: 211px;
}

#add{
    padding-left: 148px;
}

.education {
    width: 100%;
    height: 470px;
    background-color: rgb(24, 31, 44);
}

.education .edu {
    width: 500px;
    height: 30px;
    padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 60px;
    color: white;
    font-size: 23px;
}

.edu hr{
    width: 80px;
    margin-top: 2px;
    border-color: rgb(252, 104, 85);
}

.bsc {
    margin-left: 80px;
    border: 2px solid rgba(252, 104, 85, 0.8);
    width: 350px;
    height: 250px;
    float: left;
    border-radius: 20px;
}

.hsc {
    margin-left: 60px;
    border: 2px solid rgba(252, 104, 85, 0.8);
    width: 350px;
    height: 250px;
    float: left;
    border-radius: 20px;
}
.ssc {
    margin-left: 60px;
    border: 2px solid rgba(252, 104, 85, 0.8);
    width: 350px;
    height: 250px;
    float: left;
    border-radius: 20px;
}

#para {
    text-align: center;
    margin: 20px;
    font-size: 25px;
    color: rgb(252, 104, 85);

}

#lis {
    margin-left: 80px;
    line-height: 40px;
    font-family: sans-serif;
    color: rgb(204, 200, 200);
}

.skill {
    width: auto;
    height: 600px;
    background-color: rgb(17, 22, 31);
}

.skill .sk {
    width: 500px;
    height: 40px;
    margin-top: 50px;
    margin-left: 80px;
    margin-bottom: 50px;
    color: white;
    font-size: 23px;
    float: left;
}

.skill hr{
    width: 40px;
    margin-top: 2px;
    border-color: rgb(252, 104, 85);
}

.skill .soft{
    width: 400px;
    height: 40px;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 50px;
    float: left;
    font-size: 23px;
    color: white;
}

.soft hr{
    width: 50px;
    margin-top: 2px;
    border-color: rgb(252, 104, 85);
}

.info{
    border: 2px solid rgba(252, 104, 85, 0.8);
    width: 580px;
    height: 380px;
    margin-left: 80px;
    border-radius: 20px;
    float: left;
}

.soft-info{
    border: 2px solid rgba(252, 104, 85, 0.8);
    width: 560px;
    height: 255px;
    margin-left: 60px;
    margin-right: 20px;
    border-radius: 20px;
    float: left;
}

#skill-lis {
    margin-top: 10px;
    margin-left: 50px;
    line-height: 40px;
    font-family: sans-serif;
    color: rgb(204, 200, 200);
}

.title-logo {
    width: 400px;
    height: 100px;
    float: left;
    margin-top: 60px;
    margin-left: 480px;
}

.title-logo h2 {
    font-size: 55px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    color: rgb(252, 104, 85);
}

.new{
    height: 500px;
    width: 600px;
    float: left;
}

.new1{
    height: 500px;
    width: 400px;
    float: left;
    margin-left: 60px;
}

/* Responsive */

@media screen and (max-width: 1300px){
    .menu {
        margin-left: 60px;
    }

    .about{
        height: 360px;
        width: 260px;
        float: left;
    }
    .about img{
        width: 180px;
        height: 200px;
        margin: 60px;
    }

    .about-me{
        height: 200px;
        width: 600px;
        float: left;
        /* margin-right: px; */
        margin-top: 60px;
    }
    
    .about-me p{
        font-size: 1.6vw;
    }

    .information{
        height: 100px;
        width: 650px;
        float: left;
    }

    .information p{
        line-height: 20px;
        font-size: 1.6v;
    }
    
    #age {
        padding-left: 80px;
    }
    
    #email {
        padding-left: 70px;
    }
    
    #add{
        padding-left: 10px;
    }

    .education {
        width: 100%;
        height: 800px;
        background-color: rgb(24, 31, 44);
    }
    
    
    .hsc {
        margin-left: 60px;
    }
    .ssc {
        margin-left: 300px;
        margin-top: 60px;
    }

    .skill {
        width: auto;
        height: 1000px;
        background-color: rgb(17, 22, 31);
    }
    .new{
        height: 500px;
        width: 600px;
        float: left;
    }
    
    .new1{
        height: 500px;
        width: 400px;
        float: left;
        margin-left: 20px;
    }

}